# requirements.txt records the full set of dependencies for development. We provide a stable version of requirements to reproduce our experiments. Should you have any issues with the versions, please feel free to contact us.
accelerate
codetiming
datasets
dill
fastapi
hydra-core
huggingface_hub
latex2sympy2_extended
liger-kernel
math_verify
ninja
numpy==2.2.6
openai
opencv-python-headless
pandas
peft
pillow
pyarrow==24.0.0
pybind11
pylatexenc
pre-commit
ray[default]
scipy
tensorboard
tensordict==0.10.0
timm
torchdata
transformers
vllm==0.17.0
wandb
wheel==0.46.3
packaging>=20.0
uvicorn
